{% extends "master.html" %}
{% block title %}Results{% endblock %}


{% block content %}
<section class="results">
  {% block message %}
    <h2>Results For: <i>"{{query}}"</i></h2>
{% endblock %}
        <ul>
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="success">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="fail">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}
        </ul>
</section>
{% endblock %}
